<div class="row w-100">
    <div class="m-0 btn-group w-100">
        <button class="col-6 btn btn-primary" (click)="btnCargarClick()">+ Cargar un nuevo sabor</button>
        <button class="col-6 btn btn-primary" (click)="btnBuscarClick()">Buscar un sabor</button>
    </div>
    <app-card-helado class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let helado of helados" [id]="helado.id" [sabor]="helado.sabor"
        [tipo]="helado.tipo" [cantidad]="helado.cantidad" [foto]="helado.foto" (eventPassHeladoEliminado)="Refresh()">
    </app-card-helado>
    <app-form-cargar-helado [show]="formCargarDisplay" (onHeladoCargado)="Refresh()"></app-form-cargar-helado>
    <app-form-buscar-helado [show]="formBuscarDisplay"></app-form-buscar-helado>
</div>