<div class="card">
    <img class="card-img-top" [src]="foto" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{sabor}}
        <div *ngIf="tipo == 'Crema'"> a la {{tipo}}</div>
        <div *ngIf="tipo == 'Agua'"> al {{tipo}}</div>
      </h4>
      <p class="card-text" *ngIf="cantidad > 1">Quedan: {{cantidad}}kgs</p>
      <p class="card-text" *ngIf="cantidad == 1">Queda: {{cantidad}}kg</p>
      <app-card-boton [id]="id" (eventHeladoEliminado)="PassEvent($event)"></app-card-boton>
    </div>
</div>
